<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <connectionStrings>
      <add name="FinanceDB-Prod" connectionString="Data Source=finance;Initial Catalog=Sales;User=sa;Password={0};" providerName="System.Data.SqlClient" />
    </connectionStrings>   
  </system.webServer>
</configuration>
