<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <connectionStrings>
      <add name="FinanceDB" connectionString="Data Source=finance;Initial Catalog=Sales;User=sa;Password=Not@llSecretsAreSecure;" providerName="System.Data.SqlClient" />
      <add name="HRDB" connectionString="Data Source=HR;Initial Catalog=aspnet-Records;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>   
  </system.webServer>

  <location path="security">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
        <authorization>
          <clear />
          <add accessType="Deny" users="?" />
          <add accessType="Allow" roles="Administrators,IIS Administrators" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>
